
<mat-grid-list cols="3" rowHeight="200px">
  <mat-grid-tile [colspan]="1" [rowspan]="3" *ngFor="let burger of burger">
    <mat-card class = "cardClass">
      <mat-card-header>
        <mat-card-title>{{burger.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{burger.image}}" alt="Photo du Burger">
      <mat-card-content>
        <p>
          {{burger.price}} €
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-stroked-button routerLink="burger/{{burger.id}}" color="primary">More</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
  


